.about-container {
    width: 75%;
    margin: auto auto;
    line-height: 2;
}

.about-block {
    position: relative;
}

.about-video {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
}
.about-text {
    color: #222222
}

